body {
    margin: 0;
    padding: 0;
    justify-content: center;
    height: 100vh;
    font-family: 'Bad Script', cursive;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

.aniversity {
    width: 100%;
    height: 200px;
    /* background-color: #00b3ff; */
}

h1 {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 5em;
}

h1 span {
    display: table-cell;
    margin: 0;
    padding: 0;
    animation: animate 9s linear infinite;
}

h1 span:nth-child(1) {
    animation-delay: 0s;
}

h1 span:nth-child(2) {
    animation-delay: 0.25s;
}

h1 span:nth-child(3) {
    animation-delay: 0.5s;
}

h1 span:nth-child(4) {
    animation-delay: 0.75s;
}

h1 span:nth-child(5) {
    animation-delay: 1s;
}

h1 span:nth-child(6) {
    animation-delay: 1.25s;
}

h1 span:nth-child(7) {
    animation-delay: 1.5s;
}

h1 span:nth-child(8) {
    animation-delay: 1.75s;
}

h1 span:nth-child(9) {
    animation-delay: 2s;
}

h1 span:nth-child(10) {
    animation-delay: 2.25s;
}

h1 span:nth-child(11) {
    animation-delay: 2.5s;
}

h1 span:nth-child(12) {
    animation-delay: 2.75s;
}

h1 span:nth-child(13) {
    animation-delay: 3s;
}

h1 span:nth-child(14) {
    animation-delay: 3.25s;
}

h1 span:nth-child(15) {
    animation-delay: 3.5s;
}

h1 span:nth-child(16) {
    animation-delay: 3.75s;
}

h1 span:nth-child(17) {
    animation-delay: 4s;
}

h1 span:nth-child(18) {
    animation-delay: 4.25s;
}

h1 span:nth-child(19) {
    animation-delay: 4.5s;
}

h1 span:nth-child(20) {
    animation-delay: 4.75s;
}

h1 span:nth-child(21) {
    animation-delay: 5s;
}

h1 span:nth-child(22) {
    animation-delay: 5.25s;
}

h1 span:nth-child(23) {
    animation-delay: 5.5s;
}

h1 span:nth-child(24) {
    animation-delay: 5.75s;
}

h1 span:nth-child(25) {
    animation-delay: 6s;
}

h1 span:nth-child(26) {
    animation-delay: 6.25s;
}

h1 span:nth-child(27) {
    animation-delay: 6.5s;
}

h1 span:nth-child(28) {
    animation-delay: 6.75s;
}

@keyframes animate {
    0%,
    100% {
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
        text-shadow: 0 0 20px #00b3ff;
    }
    5%,
    95% {
        color: #111;
        filter: blur(0px);
        text-shadow: none;
    }
}

a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

a:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}

a span {
    position: absolute;
    display: block;
}

a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


/* fireworks */

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.neon1 {
    width: 100%;
    height: 200px;
}

.neon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0 20px;
    font-size: 2em;
    color: #fff;
    text-shadow: 0 0 20px #ff005b;
}

.neon:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #ff005b;
    filter: blur(15px);
}

.neon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fe3a80;
    z-index: -2;
    opacity: .3;
    filter: blur(40px);
}